@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}
  
* {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.pricedow {
    font-family: pricedow;
} 

.poppins {
    font-family: poppins;
}

.stroke {
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

@font-face {
	font-family: pricedow;
	src: url('/fonts/pricedow.ttf');
}

@font-face {
    font-family: poppins;
    src: url('/fonts/poppins.ttf');
}
